<!DOCTYPE html>
<html>

<head>

  <meta charset="UTF-8">
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.11.0.js"></script>
  <script src="/app.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/style.css">

</head>

<body ng-app="mainApp" ng-controller="mainCtrl">

<div class="container-fluid header">
  <div class="header-content">
    <img id="logo" src="img/logo.jpg">
    <h3>Eliftech school task</h3>
  </div> 
</div>


<div class="main-content">
  <button type="button" class="btn" ng-click="fetchExpressions()">Fetch expressions</button>
  <button type="button" class="btn" ng-disabled="!dataLoaded" ng-click="prepareExpressions()">Calculate</button>
  <button type="button" class="btn" ng-disabled="!dataCalculated" ng-click="sendResults()">Send results</button>
  <p>{{data}}</p>
</div>

</body>

</html>